nav{
    color: white;
}
#login_user_name{
    margin: 0px 10px 0 5px;
    font-weight: 700;
    font-size: 18px;
}
.wrapper{
    max-width: 1366px;
    margin: 0 auto;
}
#order-date{
    margin-right: 10px;
}
#order-time{
    margin-left: 10px;
    color: red;
}
#order-basket{
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    background: white;
    
}
#product-description{
    align-items: center;
}
#product-img{
    width: 64px;
    height: 64px;
    margin: 0 30px;
}
#product-cost{
    color: red;
}
#order-status-select{
    max-width: 800px;
    margin: 0 auto;
}
#order-status-select p{
    color: black;
}
#order-status{
    font-size: 18px;
    color: red;
}
.users_h2{
    font-size: 22px;
}
.user{
    max-width: 600px;
    margin: 0 auto;
}
.user img{
    width: 64px;
    height: 64px;
}
#div-product-create{
    display: none;
}
#div-product-create label{
    margin: 10px;
}
.products-table{
    margin-top: 20px;
}
#product-alert{
    padding: .1rem .6rem;
    font-size: .9rem;
    font-weight: 400;
}
.admin-product-img{
    margin: 20px 0;
}
#delete-banner{
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.picture{
    width: 200px;
    height: 200px;
    background-image: url(../images/icon/devil.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.delete-banner-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: white;
    height: 150px;
    border: 1px solid black;
    margin: 0 auto;
    padding-bottom: 15px;
}
.delete-banner-inner:before{
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    background-image: url(../images/icon/devil.svg);
    background-size: cover;
    background-repeat: no-repeat;
    top: -170px;
}
.delete-banner-inner p{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    font-variant: small-caps;
    margin-bottom: 0;
    margin-top: 15px;
}
.burger-inner {
    background-color: transparent;
    padding: 5px;
}  
.burger-menu {
    min-width: 0;
    padding: 0;
    margin: 0;
} 
.burger-menu-item {
    padding: 5px 20px;
}
.dropright .dropdown-toggle::after{
    margin-left: 10px;
}
.product-href{
    color: green;
    font-weight: 500;
    transition: .3s;
}
.product-href:hover{
    color: black;
    text-decoration: none;
}
.update-banner-inner{
    position: relative;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#dragon{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -160px;
}
#dragon-inner{
    position: absolute;
    width: 170px;
    height: 150px;
    background-image: url(../images/icon/dragon.gif);
    background-size: contain;
    background-repeat: no-repeat;
    left: -100px;
    top: 0;
    animation: run-dragon 10s linear infinite;
}

@keyframes run-dragon {
    100% {
        left: 110%;
    }
}


.update-banner-inner:after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background-image: url(../images/icon/heart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 40%;
    bottom: -60px;
}
#product-update{
    background-color: #75cc54;
    border: 1px solid #6CBC4A;
    color: black;
    transition: .3s;
}
#product-update:hover{
    background-color: #F26D53;
    border: 1px solid #D35746;
}
#product-back{
    background-color: #F26D53;
    border: 1px solid #D35746;
    color: black;
    transition: .3s;
}
#product-back:hover{
    background-color: #75cc54;
    border: 1px solid #6CBC4A;
}
