a{
  color: black;
}
.title {
  text-align: center;
}

.title p {
  font-style: italic;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 65px 0 55px;
}

.products .products-item {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.products .products-item .products-item-photo {
  width: 200px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
}

.products .products-item p {
  text-align: center;
}

.products .products-item .products-item-price {
  font-style: italic;
  font-size: .8em;
}

.products .products-item:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-box-shadow: 0 0 10px darkred;
          box-shadow: 0 0 10px darkred;
  cursor: pointer;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pages .pages-item {
  margin: 5px;
  padding: 5px 8px;
  border: 1px solid black;
  font-size: .6em;
  background-color: rgba(139, 0, 0, 0.2);
  -webkit-transition: .3s;
  transition: .3s;
}

.pages .pages-item:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  cursor: pointer;
  background-color: rgba(139, 0, 0, 0.4);
}

.catalog-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.catalog-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 190px;
    cursor: pointer;
    position: relative;
    user-select: none;
}
.catalog-select hr{
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -7px;
    border: none;
}
.catalog-list-item{
    position: relative;
    margin: 0 20px;
}
.catalog-list p{
    font-family: georgia;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
    color: rgba(51, 51, 51, 0.75);
}
.catalog-select img{
    width: 14px;
    height: 14px;
}
.catalog-select-list{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -128px;
    margin: auto;
    z-index: 2;
    background: white;
    display: none;
}
.catalog-select-list p{
    box-sizing: border-box;
    padding: 15px 10px;
    font-size: 16px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-style: normal;
    margin-left: 0;
    user-select: none;
}
.catalog-menu-img-active{
    transform: rotateX(180deg);
}
.catalog-select-list-row-hover{
    background: rgba(128, 128, 128, 0.15);
}